In [1]:
import pandas as pd
import sqlite3

pd.set_option('max_columns', 180)
pd.set_option('max_rows', 200000)
pd.set_option('max_colwidth', 5000)

In [18]:
def explore_data(df):
    print('shape: {0}'.format(df.shape))
    print('head(3) and tail(3):')
    print(pd.concat([df.head(3), df.tail(3)]))

In [12]:
!cat game_log_fields.txt

Field(s)  Meaning
    1     Date in the form "yyyymmdd"
    2     Number of game:
             "0" -- a single game
             "1" -- the first game of a double (or triple) header
                    including seperate admission doubleheaders
             "2" -- the second game of a double (or triple) header
                    including seperate admission doubleheaders
             "3" -- the third game of a triple-header
             "A" -- the first game of a double-header involving 3 teams
             "B" -- the second game of a double-header involving 3 teams
    3     Day of week  ("Sun","Mon","Tue","Wed","Thu","Fri","Sat")
  4-5     Visiting team and league
    6     Visiting team game number
          For this and the home team game number, ties are counted as
          games and suspended games are counted from the starting
          rather than the ending date.
  7-8     Home team and league
    9     Home team game number
10-11     Visiting and home team score (unquoted)
   12     Length of game in outs (unquoted).  A full 9-inning game would
          have a 54 in this field.  If the home team won without batting
          in the bottom of the ninth, this field would contain a 51.
   13     Day/night indicator ("D" or "N")
   14     Completion information.  If the game was completed at a
          later date (either due to a suspension or an upheld protest)
          this field will include:
             "yyyymmdd,park,vs,hs,len" Where
          yyyymmdd -- the date the game was completed
          park -- the park ID where the game was completed
          vs -- the visitor score at the time of interruption
          hs -- the home score at the time of interruption
          len -- the length of the game in outs at time of interruption
          All the rest of the information in the record refers to the
          entire game.
   15     Forfeit information:
             "V" -- the game was forfeited to the visiting team
             "H" -- the game was forfeited to the home team
             "T" -- the game was ruled a no-decision
   16     Protest information:
             "P" -- the game was protested by an unidentified team
             "V" -- a disallowed protest was made by the visiting team
             "H" -- a disallowed protest was made by the home team
             "X" -- an upheld protest was made by the visiting team
             "Y" -- an upheld protest was made by the home team
          Note: two of these last four codes can appear in the field
          (if both teams protested the game).
   17     Park ID
   18     Attendance (unquoted)
   19     Time of game in minutes (unquoted)
20-21     Visiting and home line scores.  For example:
             "010000(10)0x"
          Would indicate a game where the home team scored a run in
          the second inning, ten in the seventh and didn't bat in the
          bottom of the ninth.
22-38     Visiting team offensive statistics (unquoted) (in order):
             at-bats
             hits
             doubles
             triples
             homeruns
             RBI
             sacrifice hits.  This may include sacrifice flies for years
                prior to 1954 when sacrifice flies were allowed.
             sacrifice flies (since 1954)
             hit-by-pitch
             walks
             intentional walks
             strikeouts
             stolen bases
             caught stealing
             grounded into double plays
             awarded first on catcher's interference
             left on base
39-43     Visiting team pitching statistics (unquoted)(in order):
             pitchers used ( 1 means it was a complete game )
             individual earned runs
             team earned runs
             wild pitches
             balks
44-49     Visiting team defensive statistics (unquoted) (in order):
             putouts.  Note: prior to 1931, this may not equal 3 times
                the number of innings pitched.  Prior to that, no
                putout was awarded when a runner was declared out for
                being hit by a batted ball.
             assists
             errors
             passed balls
             double plays
             triple plays
50-66     Home team offensive statistics
67-71     Home team pitching statistics
72-77     Home team defensive statistics
78-79     Home plate umpire ID and name
80-81     1B umpire ID and name
82-83     2B umpire ID and name
84-85     3B umpire ID and name
86-87     LF umpire ID and name
88-89     RF umpire ID and name
          If any umpire positions were not filled for a particular game
          the fields will be "","(none)".
90-91     Visiting team manager ID and name
92-93     Home team manager ID and name
94-95     Winning pitcher ID and name
96-97     Losing pitcher ID and name
98-99     Saving pitcher ID and name--"","(none)" if none awarded
100-101   Game Winning RBI batter ID and name--"","(none)" if none
          awarded
102-103   Visiting starting pitcher ID and name
104-105   Home starting pitcher ID and name
106-132   Visiting starting players ID, name and defensive position,
          listed in the order (1-9) they appeared in the batting order.
133-159   Home starting players ID, name and defensive position
          listed in the order (1-9) they appeared in the batting order.
  160     Additional information.  This is a grab-bag of informational
          items that might not warrant a field on their own.  The field
          is alpha-numeric. Some items are represented by tokens such as:
             "HTBF" -- home team batted first.
             Note: if "HTBF" is specified it would be possible to see
             something like "01002000x" in the visitor's line score.
          Changes in umpire positions during a game will also appear in
          this field.  These will be in the form:
             umpchange,inning,umpPosition,umpid with the latter three
             repeated for each umpire.
          These changes occur with umpire injuries, late arrival of
          umpires or changes from completion of suspended games. Details
          of suspended games are in field 14.
  161     Acquisition information:
             "Y" -- we have the complete game
             "N" -- we don't have any portion of the game
             "D" -- the game was derived from box score and game story
             "P" -- we have some portion of the game.  We may be missing
                    innings at the beginning, middle and end of the game.

Missing fields will be NULL.


# Game

Defensive posistions:

| number | position |
| --- | --- |
| 1 | pitcher |
| 2 | catcher |
| 3 | first baseman |
| 4 | second baseman |
| 5 | third baseman |
| 6 | shortstop |
| 7 | left fielder |
| 8 | center fielder |
| 9 | right fielder |

Leagues:

| code | league |
| --- | --- |
| NA | National Association |
| NL | National League |
| AA | American Association |
| UA | Union Association |
| PL | Players League |
| AL | American League |
| FL | Federal League |

In [8]:
game = pd.read_csv('game_log.csv')
explore_data(game)

/dataquest/system/env/python3/lib/python3.4/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (12,13,14,15,19,20,81,82,83,84,85,86,87,88,93,94,95,96,97,98,99,100,105,106,108,109,111,112,114,115,117,118,120,121,123,124,126,127,129,130,132,133,135,136,138,139,141,142,144,145,147,148,150,151,153,154,156,157,160) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

shape: (171907, 161)
head(3) and tail(3):
            date  number_of_game day_of_week v_name v_league  v_game_number  \
0       18710504               0         Thu    CL1      NaN              1
1       18710505               0         Fri    BS1      NaN              1
2       18710506               0         Sat    CL1      NaN              2
171904  20161002               0         Sun    LAN       NL            162
171905  20161002               0         Sun    PIT       NL            162
171906  20161002               0         Sun    MIA       NL            161

       h_name h_league  h_game_number  v_score  h_score  length_outs  \
0         FW1      NaN              1        0        2         54.0
1         WS3      NaN              1       20       18         54.0
2         RC1      NaN              1       12        4         54.0
171904    SFN       NL            162        1        7         51.0
171905    SLN       NL            162        4       10         51.0
171906    WAS       NL            162        7       10         51.0

       day_night completion forefeit protest park_id  attendance  \
0              D        NaN      NaN     NaN   FOR01       200.0
1              D        NaN      NaN     NaN   WAS01      5000.0
2              D        NaN      NaN     NaN   RCK01      1000.0
171904         D        NaN      NaN     NaN   SFO03     41445.0
171905         D        NaN      NaN     NaN   STL10     44615.0
171906         D        NaN      NaN     NaN   WAS11     28730.0

        length_minutes v_line_score h_line_score  v_at_bats  v_hits  \
0                120.0    000000000    010010000       30.0     4.0
1                145.0    107000435    640113030       41.0    13.0
2                140.0    610020003    010020100       49.0    11.0
171904           184.0    000100000    23000002x       30.0     4.0
171905           192.0    000020200    00100360x       35.0     9.0
171906           216.0    000230020    03023002x       38.0    14.0

        v_doubles  v_triples  v_homeruns  v_rbi  v_sacrifice_hits  \
0             1.0        0.0         0.0    0.0               0.0
1             1.0        2.0         0.0   13.0               0.0
2             1.0        1.0         0.0    8.0               0.0
171904        0.0        0.0         0.0    1.0               0.0
171905        0.0        0.0         1.0    4.0               0.0
171906        1.0        1.0         2.0    7.0               1.0

        v_sacrifice_flies  v_hit_by_pitch  v_walks  v_intentional_walks  \
0                     0.0             0.0      1.0                  NaN
1                     0.0             0.0     18.0                  NaN
2                     0.0             0.0      0.0                  NaN
171904                0.0             0.0      2.0                  0.0
171905                0.0             0.0      4.0                  0.0
171906                0.0             0.0      3.0                  2.0

        v_strikeouts  v_stolen_bases  v_caught_stealing  \
0                6.0             1.0                NaN
1                5.0             3.0                NaN
2                1.0             0.0                NaN
171904           7.0             0.0                0.0
171905          11.0             0.0                1.0
171906          10.0             1.0                1.0

        v_grounded_into_double  v_first_catcher_interference  v_left_on_base  \
0                         -1.0                           NaN             4.0
1                         -1.0                           NaN            12.0
2                         -1.0                           NaN            10.0
171904                     1.0                           0.0             4.0
171905                     0.0                           0.0             8.0
171906                     1.0                           0.0             8.0

        v_pitchers_used  v_individual_earned_runs  v_team_earned_runs  \
0                   1.0                       1.0                 1.0
1                   1.0                       6.0                 6.0
2                   1.0                       0.0                 0.0
171904              7.0                       7.0                 7.0
171905              6.0                       8.0                 8.0
171906              7.0                      10.0                10.0

        v_wild_pitches  v_balks  v_putouts  v_assists  v_errors  \
0                  0.0      0.0       27.0        9.0       0.0
1                  1.0      0.0       27.0       13.0      10.0
2                  2.0      0.0       27.0       12.0       8.0
171904             0.0      0.0       24.0        5.0       1.0
171905             0.0      0.0       24.0        2.0       2.0
171906             1.0      0.0       24.0       11.0       0.0

        v_passed_balls  v_double_plays  v_triple_plays  h_at_bats  h_hits  \
0                  3.0             0.0             0.0       31.0     4.0
1                  1.0             2.0             0.0       49.0    14.0
2                  5.0             0.0             0.0       36.0     7.0
171904             0.0             0.0             0.0       39.0    16.0
171905             0.0             0.0             0.0       36.0    12.0
171906             0.0             1.0             0.0       30.0    10.0

        h_doubles  h_triples  h_homeruns  h_rbi  h_sacrifice_hits  \
0             1.0        0.0         0.0    2.0               0.0
1             2.0        0.0         0.0   11.0               0.0
2             2.0        1.0         0.0    2.0               0.0
171904        3.0        1.0         0.0    7.0               0.0
171905        2.0        0.0         1.0   10.0               0.0
171906        2.0        0.0         1.0   10.0               1.0

        h_sacrifice_flies  h_hit_by_pitch  h_walks  h_intentional_walks  \
0                     0.0             0.0      1.0                  NaN
1                     0.0             0.0     10.0                  NaN
2                     0.0             0.0      0.0                  NaN
171904                0.0             0.0      4.0                  1.0
171905                2.0             0.0      4.0                  0.0
171906                1.0             1.0      8.0                  0.0

        h_strikeouts  h_stolen_bases  h_caught_stealing  \
0                0.0             0.0                NaN
1                2.0             1.0                NaN
2                3.0             5.0                NaN
171904          11.0             2.0                1.0
171905           5.0             0.0                0.0
171906           3.0             2.0                0.0

        h_grounded_into_double  h_first_catcher_interference  h_left_on_base  \
0                         -1.0                           NaN             3.0
1                         -1.0                           NaN            14.0
2                         -1.0                           NaN             5.0
171904                     0.0                           0.0            12.0
171905                     0.0                           0.0             8.0
171906                     1.0                           0.0             7.0

        h_pitchers_used  h_individual_earned_runs  h_team_earned_runs  \
0                   1.0                       0.0                 0.0
1                   1.0                       7.0                 7.0
2                   1.0                       3.0                 3.0
171904              2.0                       1.0                 1.0
171905              3.0                       4.0                 4.0
171906              6.0                       7.0                 7.0

        h_wild_pitches  h_balks  h_putouts  h_assists  h_errors  \
0                  0.0      0.0       27.0        3.0       3.0
1                  0.0      0.0       27.0       20.0      10.0
2                  1.0      0.0       27.0       12.0      13.0
171904             0.0      0.0       27.0        7.0       0.0
171905             0.0      0.0       27.0        7.0       0.0
171906             1.0      0.0       27.0       11.0       0.0

        h_passed_balls  h_double_plays  h_triple_plays hp_umpire_id  \
0                  1.0             1.0             0.0     boakj901
1                  2.0             3.0             0.0     dobsh901
2                  3.0             0.0             0.0     mawnj901
171904             0.0             1.0             0.0     knigb901
171905             0.0             1.0             0.0     cuzzp901
171906             0.0             1.0             0.0     tumpj901

       hp_umpire_name 1b_umpire_id 1b_umpire_name 2b_umpire_id 2b_umpire_name  \
0          John Boake          NaN            NaN          NaN            NaN
1        Henry Dobson          NaN            NaN          NaN            NaN
2          J.H. Manny          NaN            NaN          NaN            NaN
171904   Brian Knight     westj901       Joe West     fleta901  Andy Fletcher
171905     Phil Cuzzi     ticht901  Todd Tichenor     vanol901  Larry Vanover
171906   John Tumpane     porta901    Alan Porter     onorb901   Brian O'Nora

       3b_umpire_id   3b_umpire_name lf_umpire_id lf_umpire_name rf_umpire_id  \
0               NaN              NaN          NaN            NaN          NaN
1               NaN              NaN          NaN            NaN          NaN
2               NaN              NaN          NaN            NaN          NaN
171904     danlk901    Kerwin Danley          NaN            NaN          NaN
171905     marqa901  Alfonso Marquez          NaN            NaN          NaN
171906     kellj901     Jeff Kellogg          NaN            NaN          NaN

       rf_umpire_name v_manager_id v_manager_name h_manager_id  \
0                 NaN     paboc101  Charlie Pabor     lennb101
1                 NaN     wrigh101   Harry Wright     younn801
2                 NaN     paboc101  Charlie Pabor     hasts101
171904            NaN     robed001   Dave Roberts     bochb002
171905            NaN     hurdc001   Clint Hurdle     mathm001
171906            NaN     mattd001  Don Mattingly     baked002

        h_manager_name winning_pitcher_id winning_pitcher_name  \
0          Bill Lennon           mathb101        Bobby Mathews
1           Nick Young           spala101          Al Spalding
2       Scott Hastings           prata101             Al Pratt
171904     Bruce Bochy           moorm003           Matt Moore
171905    Mike Matheny           broxj001     Jonathan Broxton
171906     Dusty Baker           schem001         Max Scherzer

       losing_pitcher_id losing_pitcher_name saving_pitcher_id  \
0               prata101            Al Pratt               NaN
1               braia102        Asa Brainard               NaN
2               fishc102     Cherokee Fisher               NaN
171904          maedk001         Kenta Maeda               NaN
171905          nicaj001        Juan Nicasio               NaN
171906          brica001        Austin Brice          melam001

       saving_pitcher_name winning_rbi_batter_id winning_rbi_batter_id_name  \
0                      NaN                   NaN                        NaN
1                      NaN                   NaN                        NaN
2                      NaN                   NaN                        NaN
171904                 NaN              poseb001               Buster Posey
171905                 NaN              piscs001           Stephen Piscotty
171906       Mark Melancon              difow001                Wilmer Difo

       v_starting_pitcher_id v_starting_pitcher_name h_starting_pitcher_id  \
0                   prata101                Al Pratt              mathb101
1                   spala101             Al Spalding              braia102
2                   prata101                Al Pratt              fishc102
171904              maedk001             Kenta Maeda              moorm003
171905              voger001          Ryan Vogelsong              waina001
171906              koeht001             Tom Koehler              schem001

       h_starting_pitcher_name v_player_1_id v_player_1_name  \
0                Bobby Mathews      whitd102    Deacon White
1                 Asa Brainard      wrigg101   George Wright
2              Cherokee Fisher      whitd102    Deacon White
171904              Matt Moore      kendh001  Howie Kendrick
171905         Adam Wainwright      jasoj001       John Jaso
171906            Max Scherzer      gordd002      Dee Gordon

        v_player_1_def_pos v_player_2_id  v_player_2_name  v_player_2_def_pos  \
0                      2.0      kimbg101     Gene Kimball                 4.0
1                      6.0      barnr102      Ross Barnes                 4.0
2                      2.0      kimbg101     Gene Kimball                 4.0
171904                 7.0      turnj001    Justin Turner                 5.0
171905                 3.0      polag001  Gregory Polanco                 9.0
171906                 4.0      telit001      Tomas Telis                 2.0

       v_player_3_id   v_player_3_name  v_player_3_def_pos v_player_4_id  \
0           paboc101     Charlie Pabor                 7.0      allia101
1           birdd102     Dave Birdsall                 9.0      mcvec101
2           paboc101     Charlie Pabor                 7.0      allia101
171904      seagc001      Corey Seager                 6.0      puigy001
171905      mccua001  Andrew McCutchen                 8.0      kangj001
171906      pradm001      Martin Prado                 5.0      yelic001

         v_player_4_name  v_player_4_def_pos v_player_5_id  v_player_5_name  \
0            Art Allison                 8.0      white104      Elmer White
1              Cal McVey                 2.0      wrigh101     Harry Wright
2            Art Allison                 8.0      white104      Elmer White
171904       Yasiel Puig                 9.0      gonza003  Adrian Gonzalez
171905      Jung Ho Kang                 5.0      joycm001       Matt Joyce
171906  Christian Yelich                 8.0      bourj002      Justin Bour

        v_player_5_def_pos v_player_6_id  v_player_6_name  v_player_6_def_pos  \
0                      9.0      prata101         Al Pratt                 1.0
1                      8.0      goulc101    Charlie Gould                 3.0
2                      9.0      prata101         Al Pratt                 1.0
171904                 3.0      grany001  Yasmani Grandal                 2.0
171905                 7.0      hansa001      Alen Hanson                 4.0
171906                 3.0      scrux001   Xavier Scruggs                 7.0

       v_player_7_id v_player_7_name  v_player_7_def_pos v_player_8_id  \
0           sutte101     Ezra Sutton                 5.0      carlj102
1           schah101   Harry Schafer                 5.0      conef101
2           sutte101     Ezra Sutton                 5.0      carlj102
171904      pedej001    Joc Pederson                 8.0      utlec001
171905      fryee001      Eric Fryer                 2.0      florp001
171906      hoodd001     Destin Hood                 9.0      hecha001

           v_player_8_name  v_player_8_def_pos v_player_9_id v_player_9_name  \
0             Jim Carleton                 3.0      bassj101       John Bass
1                Fred Cone                 7.0      spala101     Al Spalding
2             Jim Carleton                 3.0      bassj101       John Bass
171904         Chase Utley                 4.0      maedk001     Kenta Maeda
171905      Pedro Florimon                 6.0      voger001  Ryan Vogelsong
171906  Adeiny Hechavarria                 6.0      koeht001     Tom Koehler

        v_player_9_def_pos h_player_1_id h_player_1_name  h_player_1_def_pos  \
0                      6.0      selmf101   Frank Sellman                 5.0
1                      1.0      watef102   Fred Waterman                 5.0
2                      6.0      mackd101      Denny Mack                 3.0
171904                 1.0      spand001     Denard Span                 8.0
171905                 1.0      carpm002  Matt Carpenter                 3.0
171906                 1.0      turnt001     Trea Turner                 8.0

       h_player_2_id h_player_2_name  h_player_2_def_pos h_player_3_id  \
0           mathb101   Bobby Mathews                 1.0      foraj101
1           forcd101      Davy Force                 6.0      mille105
2           addyb101        Bob Addy                 4.0      fishc102
171904      beltb001    Brandon Belt                 3.0      poseb001
171905      diaza003    Aledmys Diaz                 6.0      moliy001
171906      reveb001      Ben Revere                 7.0      harpb003

        h_player_3_name  h_player_3_def_pos h_player_4_id   h_player_4_name  \
0             Jim Foran                 3.0      goldw101   Wally Goldsmith
1         Everett Mills                 3.0      allid101      Doug Allison
2       Cherokee Fisher                 1.0      hasts101    Scott Hastings
171904     Buster Posey                 2.0      pench001      Hunter Pence
171905    Yadier Molina                 2.0      piscs001  Stephen Piscotty
171906     Bryce Harper                 9.0      zimmr001    Ryan Zimmerman

        h_player_4_def_pos h_player_5_id   h_player_5_name  \
0                      6.0      lennb101       Bill Lennon
1                      2.0      hallg101       George Hall
2                      8.0      ham-r101         Ralph Ham
171904                 9.0      crawb001  Brandon Crawford
171905                 9.0      peraj001    Jhonny Peralta
171906                 3.0      drews001      Stephen Drew

        h_player_5_def_pos h_player_6_id h_player_6_name  h_player_6_def_pos  \
0                      2.0      caret101       Tom Carey                 4.0
1                      7.0      leona101    Andy Leonard                 4.0
2                      5.0      ansoc101       Cap Anson                 2.0
171904                 6.0      pagaa001     Angel Pagan                 7.0
171905                 5.0      mossb001    Brandon Moss                 7.0
171906                 5.0      difow001     Wilmer Difo                 4.0

       h_player_7_id h_player_7_name  h_player_7_def_pos h_player_8_id  \
0           mince101      Ed Mincher                 7.0      mcdej101
1           braia102    Asa Brainard                 1.0      burrh101
2           sagep101      Pony Sager                 6.0      birdg101
171904      panij002       Joe Panik                 4.0      gillc001
171905      gyorj001     Jedd Gyorko                 4.0      gricr001
171906      espid001  Danny Espinosa                 6.0      lobaj001

        h_player_8_name  h_player_8_def_pos h_player_9_id  h_player_9_name  \
0       James McDermott                 8.0      kellb105       Bill Kelly
1       Henry Burroughs                 9.0      berth101  Henry Berthrong
2           George Bird                 7.0      stirg101       Gat Stires
171904  Conor Gillaspie                 5.0      moorm003       Matt Moore
171905   Randal Grichuk                 8.0      waina001  Adam Wainwright
171906     Jose Lobaton                 2.0      schem001     Max Scherzer

        h_player_9_def_pos additional_info acquisition_info
0                      9.0             NaN                Y
1                      8.0            HTBF                Y
2                      9.0             NaN                Y
171904                 1.0             NaN                Y
171905                 1.0             NaN                Y
171906                 1.0             NaN                Y

# Park

game.park_id = park.park_id

In [9]:
park = pd.read_csv('park_codes.csv')
explore_data(park)

shape: (252, 9)
head(3) and tail(3):
    park_id                                 name  \
0     ALB01                       Riverside Park
1     ALT01                        Columbia Park
2     ANA01             Angel Stadium of Anaheim
249   WOR01   Agricultural County Fair Grounds I
250   WOR02  Agricultural County Fair Grounds II
251   WOR03       Worcester Driving Park Grounds

                               aka       city state       start         end  \
0                              NaN     Albany    NY  09/11/1880  05/30/1882
1                              NaN    Altoona    PA  04/30/1884  05/31/1884
2    Edison Field; Anaheim Stadium    Anaheim    CA  04/19/1966         NaN
249                            NaN  Worcester    MA  05/01/1880  09/29/1882
250                            NaN  Worcester    MA  08/17/1887  08/17/1887
251                            NaN  Worcester    MA  10/30/1874  10/30/1874

    league                                           notes
0       NL  TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1       UA                                             NaN
2       AL                                             NaN
249     NL                                             NaN
250     NL                                      1 BSN game
251    NaN                                      1 BS1 game

# Person

game.id (see list below) = person.id
* *_umpire_id
* *_manager_id
* *_pitcher_id
* *_batter_id
* *_player_#_id

In [10]:
person = pd.read_csv('person_codes.csv')
explore_data(person)

shape: (20494, 7)
head(3) and tail(3):
             id      last   first player_debut mgr_debut coach_debut ump_debut
0      aardd001   Aardsma   David   04/06/2004       NaN         NaN       NaN
1      aaroh101     Aaron    Hank   04/13/1954       NaN         NaN       NaN
2      aarot101     Aaron  Tommie   04/10/1962       NaN  04/06/1979       NaN
20491  zwild101  Zwilling   Dutch   08/14/1910       NaN  04/15/1941       NaN
20492  zycht001      Zych    Tony   09/04/2015       NaN         NaN       NaN
20493  thoma102  Thompson     NaN          NaN       NaN         NaN       NaN

# Team

game.*_name = team.team_id

In [11]:
team = pd.read_csv('team_codes.csv')
explore_data(team)

shape: (150, 8)
head(3) and tail(3):
    team_id league  start   end        city         nickname franch_id  seq
0       ALT     UA   1884  1884     Altoona  Mountain Cities       ALT    1
1       ARI     NL   1998     0     Arizona     Diamondbacks       ARI    1
2       BFN     NL   1879  1885     Buffalo           Bisons       BFN    1
147     WSN     NL   1892  1899  Washington         Senators       WS9    2
148     WSU     UA   1884  1884  Washington        Nationals       WSU    1
149     MIA     NL   2012     0       Miami          Marlins       FLO    2

In [3]:
db = 'mlb.db'
def run_query(q):
    with sqlite3.connect(db) as conn:
        return pd.read_sql(q, conn)
def run_command(c):
    with sqlite3.connect(db) as conn:
        conn.execute('PRAGMA foreign_keys = ON;')
        conn.isolation_level = None
        conn.execute(c)
def show_tables():
    q = "select name, type from sqlite_master where type in ('table','view')"
    return run_query(q)
def df_to_table(df, table, exists='fail'):
    with sqlite3.connect(db) as conn:
        df.to_sql(table, conn, index=False, if_exists=exists)

In [29]:
# df_to_table(game, 'game_log')
# df_to_table(park, 'park_codes')
# df_to_table(person, 'person_codes')
# df_to_table(team, 'team_codes')

In [26]:
c_add_game_id = """
    ALTER TABLE game_log
    ADD COLUMN game_id TEXT
    ;
    """
# run_command(c_add_game_id)
c_pop_game_id = """
    UPDATE game_log
    SET game_id = h_name || date || number_of_game
    ;
    """
# run_command(c_pop_game_id)

In [71]:
show_tables()

              name   type
0         game_log  table
1       park_codes  table
2     person_codes  table
3       team_codes  table
4           person  table
5             park  table
6           league  table
7  appearance_type  table
8             team  table
9             game  table

## note: skipping schema design

In [34]:
c_create_person ="""
    CREATE TABLE IF NOT EXISTS person (
        person_id TEXT PRIMARY KEY,
        first_name TEXT,
        last_name TEXT
    );
    """
c_pop_person = """
    INSERT INTO person
    SELECT
        id person_id,
        first first_name,
        last last_name
    FROM
        person_codes
    ;
    """
q_check_person = "select * from person limit 3"
# run_command(c_create_person)
# run_command(c_pop_person)
run_query(q_check_person)

  person_id first_name last_name
0  aardd001      David   Aardsma
1  aaroh101       Hank     Aaron
2  aarot101     Tommie     Aaron

In [36]:
c_create_park ="""
    CREATE TABLE IF NOT EXISTS park (
        park_id TEXT PRIMARY KEY,
        name TEXT,
        nickname TEXT,
        city TEXT,
        state TEXT,
        notes TEXT
    );
    """
c_pop_park = """
    INSERT INTO park
    SELECT
        park_id,
        name,
        aka nickname,
        city,
        state,
        notes
    FROM
        park_codes
    ;
    """
q_check_park = "select * from park limit 3"
# run_command(c_create_park)
# run_command(c_pop_park)
run_query(q_check_park)

,park_id,name,nickname,city,state,notes
0,ALB01,Riverside Park,None,Albany,NY,TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1,ALT01,Columbia Park,None,Altoona,PA,None
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,None

In [39]:
c_create_league ="""
    CREATE TABLE IF NOT EXISTS league (
        league_id TEXT PRIMARY KEY,
        name TEXT
    );
    """
c_pop_league = """
    INSERT INTO league VALUES
    ('NA', 'National Association'),
    ('NL', 'National League'),
    ('AA', 'American Association'),
    ('UA', 'Union Association'),
    ('PL', 'Players League'),
    ('AL', 'American League'),
    ('FL', 'Federal League')
    ;
    """
q_check_league = "select * from league limit 3"
# run_command(c_create_league)
# run_command(c_pop_league)
run_query(q_check_league)

  league_id                  name
0        NA  National Association
1        NL       National League
2        AA  American Association

In [79]:
appearance = pd.read_csv('appearance_type.csv')
c_create_appearance_type ="""
    CREATE TABLE IF NOT EXISTS appearance_type (
        appearance_type_id TEXT PRIMARY KEY,
        name TEXT,
        category TEXT
    );
    """
q_check_appearance_type = "select * from appearance_type limit 3"
# run_command(c_create_appearance_type)
# df_to_table(appearance, 'appearance_type', exists='append')
run_query(q_check_appearance_type)

  appearance_type_id      name category
0                 O1  Batter 1  offense
1                 O2  Batter 2  offense
2                 O3  Batter 3  offense

In [57]:
c_create_team ="""
    CREATE TABLE IF NOT EXISTS team (
        team_id TEXT PRIMARY KEY,
        league_id TEXT,
        city TEXT,
        nickname TEXT,
        franch_id TEXT,
        FOREIGN KEY (league_id) REFERENCES league(league_id)
    );
    """
c_pop_team = """
    INSERT INTO team
    SELECT DISTINCT
        team_id,
        league league_id,
        city,
        nickname,
        franch_id
    FROM
        team_codes
    WHERE
        NOT (team_id = 'MIL' AND league = 'AL')
    ;
    """
q_check_team = "select * from team limit 3"
# run_command(c_create_team)
# run_command(c_pop_team)
run_query(q_check_team)

  team_id league_id     city         nickname franch_id
0     ALT        UA  Altoona  Mountain Cities       ALT
1     ARI        NL  Arizona     Diamondbacks       ARI
2     BFN        NL  Buffalo           Bisons       BFN

In [68]:
c_create_game ="""
    CREATE TABLE IF NOT EXISTS game (
        game_id TEXT PRIMARY KEY,
        date TEXT,
        number_of_game TEXT,
        park_id TEXT,
        length_outs INTEGER,
        day BOOLEAN,
        completion TEXT,
        forefeit TEXT,
        protest TEXT,
        attendance INTEGER,
        length_minutes INTEGER,
        additional_info TEXT,
        acquisition_info TEXT,
        FOREIGN KEY (park_id) REFERENCES park(park_id)
    );
    """
c_pop_game = """
    INSERT INTO game
    SELECT
        game_id,
        date,
        number_of_game,
        park_id,
        length_outs,
        CASE
            WHEN day_night = 'D' THEN 1
            ELSE 0
        END as day,
        completion,
        forefeit,
        protest,
        attendance,
        length_minutes,
        additional_info,
        acquisition_info
    FROM
        game_log
    ;
    """
q_check_game = "select * from game limit 3"
# run_command(c_create_game)
# run_command(c_pop_game)
run_query(q_check_game)

,game_id,date,number_of_game,park_id,length_outs,day,completion,forefeit,protest,attendance,length_minutes,additional_info,acquisition_info
0,FW1187105040,18710504,0,FOR01,54,1,None,None,None,200,120,None,Y
1,WS3187105050,18710505,0,WAS01,54,1,None,None,None,5000,145,HTBF,Y
2,RC1187105060,18710506,0,RCK01,54,1,None,None,None,1000,140,None,Y

In [77]:
c_create_team_appearance ="""
    CREATE TABLE IF NOT EXISTS team_appearance (
        team_id TEXT,
        game_id TEXT,
        home BOOLEAN,
        league_id TEXT,
        score INTEGER,
        line_score TEXT,
        at_bats INTEGER,
        hits INTEGER,
        doubles INTEGER,
        triples INTEGER,
        homeruns INTEGER,
        rbi INTEGER,
        sacrifice_hits INTEGER,
        sacrifice_flies INTEGER,
        hit_by_pitch INTEGER,
        walks INTEGER,
        intentional_walks INTEGER,
        strikeouts INTEGER,
        stolen_bases INTEGER,
        caught_stealing INTEGER,
        grounded_into_double INTEGER,
        first_catcher_interference INTEGER,
        left_on_base INTEGER,
        pitchers_used INTEGER,
        individual_earned_runs INTEGER,
        team_earned_runs INTEGER,
        wild_pitches INTEGER,
        balks INTEGER,
        putouts INTEGER,
        assists INTEGER,
        errors INTEGER,
        passed_balls INTEGER,
        double_plays INTEGER,
        triple_plays INTEGER,
        PRIMARY KEY (team_id, game_id),
        FOREIGN KEY (team_id) REFERENCES team(team_id),
        FOREIGN KEY (game_id) REFERENCES game(game_id),
        FOREIGN KEY (league_id) REFERENCES league(league_id)
    );
    """
c_pop_team_appearance = """
    INSERT INTO team_appearance
        SELECT
            h_name team_id,
            game_id,
            1 as home,
            h_league league_id,
            h_score score,
            h_line_score line_score,
            h_at_bats at_bats,
            h_hits hits,
            h_doubles doubles,
            h_triples triples,
            h_homeruns homeruns,
            h_rbi rbi,
            h_sacrifice_hits sacrifice_hits,
            h_sacrifice_flies sacrifice_flies,
            h_hit_by_pitch,
            h_walks walks,
            h_intentional_walks intentional_walks,
            h_strikeouts strikeouts,
            h_stolen_bases stolen_bases,
            h_caught_stealing caught_stealing,
            h_grounded_into_double grounded_into_double,
            h_first_catcher_interference first_catcher_interference,
            h_left_on_base left_on_base,
            h_pitchers_used pitchers_used,
            h_individual_earned_runs individual_earned_runs,
            h_team_earned_runs team_earned_runs,
            h_wild_pitches wild_pitches,
            h_balks balks,
            h_putouts putouts,
            h_assists assists,
            h_errors errors,
            h_passed_balls passed_balls,
            h_double_plays double_plays,
            h_triple_plays triple_plays
        FROM
            game_log
            
    UNION
    
        SELECT
            v_name team_id,
            game_id,
            0 as home,
            v_league league_id,
            v_score score,
            v_line_score line_score,
            v_at_bats at_bats,
            v_hits hits,
            v_doubles doubles,
            v_triples triples,
            v_homeruns homeruns,
            v_rbi rbi,
            v_sacrifice_hits sacrifice_hits,
            v_sacrifice_flies sacrifice_flies,
            v_hit_by_pitch,
            v_walks walks,
            v_intentional_walks intentional_walks,
            v_strikeouts strikeouts,
            v_stolen_bases stolen_bases,
            v_caught_stealing caught_stealing,
            v_grounded_into_double grounded_into_double,
            v_first_catcher_interference first_catcher_interference,
            v_left_on_base left_on_base,
            v_pitchers_used pitchers_used,
            v_individual_earned_runs individual_earned_runs,
            v_team_earned_runs team_earned_runs,
            v_wild_pitches wild_pitches,
            v_balks balks,
            v_putouts putouts,
            v_assists assists,
            v_errors errors,
            v_passed_balls passed_balls,
            v_double_plays double_plays,
            v_triple_plays triple_plays
        FROM
            game_log
    ;
    """
q_check_team_appearance = "select * from team_appearance limit 3"
# run_command(c_create_team_appearance)
# run_command(c_pop_team_appearance)
run_query(q_check_team_appearance)

,team_id,game_id,home,league_id,score,line_score,at_bats,hits,doubles,triples,homeruns,rbi,sacrifice_hits,sacrifice_flies,hit_by_pitch,walks,intentional_walks,strikeouts,stolen_bases,caught_stealing,grounded_into_double,first_catcher_interference,left_on_base,pitchers_used,individual_earned_runs,team_earned_runs,wild_pitches,balks,putouts,assists,errors,passed_balls,double_plays,triple_plays
0,ALT,ALT188404300,1,UA,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,ALT,ALT188405020,1,UA,3,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,ALT,ALT188405030,1,UA,5,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [86]:
c_create_person_appearance ="""
    CREATE TABLE IF NOT EXISTS person_appearance (
        appearance_id INTEGER PRIMARY KEY,
        person_id TEXT,
        team_id TEXT,
        game_id TEXT,
        appearance_type_id TEXT,
        FOREIGN KEY (person_id) REFERENCES person(person_id),
        FOREIGN KEY (team_id) REFERENCES team(team_id),
        FOREIGN KEY (game_id) REFERENCES game(game_id),
        FOREIGN KEY (appearance_type_id) REFERENCES appearance_type(appearance_type_id)
    );
    """
c_pop_person_appearance_non_players_template = """
    INSERT INTO person_appearance (
        game_id,
        team_id,
        person_id,
        appearance_type_id
    )
        SELECT
            game_id,
            {team},
            [{field}],
            '{appearance_type}'
        FROM
            game_log
        WHERE
            [{field}] IS NOT NULL
    ;
    """
c_pop_person_appearance_non_players_queries = [
    ['hp_umpire_id', 'UHP', 'NULL'],
    ['1b_umpire_id', 'U1B', 'NULL'],
    ['2b_umpire_id', 'U2B', 'NULL'],
    ['3b_umpire_id', 'U3B', 'NULL'],
    ['lf_umpire_id', 'ULF', 'NULL'],
    ['rf_umpire_id', 'URF', 'NULL'],
    ['v_manager_id', 'MM', 'v_name'],
    ['h_manager_id', 'MM', 'h_name'],
    ['winning_pitcher_id', 'AWP', 'NULL'],
    ['losing_pitcher_id', 'ALP', 'NULL'],
    ['saving_pitcher_id', 'ASP', 'NULL'],
    ['winning_rbi_batter_id', 'AWB', 'NULL'],
    ['v_starting_pitcher_id', 'PSP', 'v_name'],
    ['h_starting_pitcher_id', 'PSP', 'h_name']
]

# run_command(c_create_person_appearance)

for query in c_pop_person_appearance_non_players_queries:
    query_vars = {
        'field': query[0],
        'appearance_type': query[1],
        'team': query[2]
    }
    # run_command(c_pop_person_appearance_non_players_template.format(**query_vars))

q_check_person_appearance_non_players = """
    select * from person_appearance 
    where appearance_type_id in ('UHP','U1B','U2B','U3B','ULF','URF','MM','AWP','ALP','ASP','AWB','PSP')
    and game_id = 'SFN201610020'
    """
run_query(q_check_person_appearance_non_players)

    appearance_id person_id team_id       game_id appearance_type_id
0          171886  knigb901    None  SFN201610020                UHP
1          318926  westj901    None  SFN201610020                U1B
2          407466  fleta901    None  SFN201610020                U2B
3          524189  danlk901    None  SFN201610020                U3B
4          696308  robed001     LAN  SFN201610020                 MM
5          868215  bochb002     SFN  SFN201610020                 MM
6         1008444  moorm003    None  SFN201610020                AWP
7         1148673  maedk001    None  SFN201610020                ALP
8         1302390  poseb001    None  SFN201610020                AWB
9         1474253  maedk001     LAN  SFN201610020                PSP
10        1646116  moorm003     SFN  SFN201610020                PSP

In [89]:
c_pop_person_appearance_players_template = """
    INSERT INTO person_appearance (
        game_id,
        team_id,
        person_id,
        appearance_type_id
    ) 
        SELECT
            game_id,
            {hv}_name,
            {hv}_player_{num}_id,
            "O{num}"
        FROM
            game_log
        WHERE
            {hv}_player_{num}_id IS NOT NULL

    UNION

        SELECT
            game_id,
            {hv}_name,
            {hv}_player_{num}_id,
            "D" || CAST({hv}_player_{num}_def_pos AS INT)
        FROM
            game_log
        WHERE
            {hv}_player_{num}_id IS NOT NULL
        ;
    """

for hv in ['h','v']:
    for num in range(1,10):
        query_vars = {
            "hv": hv,
            "num": num
        }
        #run_command(c_pop_person_appearance_players_template.format(**query_vars))

q_check_person_appearance_players = """
    select * from person_appearance 
    where appearance_type_id not in ('UHP','U1B','U2B','U3B','ULF','URF','MM','AWP','ALP','ASP','AWB','PSP')
    and game_id = 'SFN201610020'
    order by team_id asc, appearance_type_id asc
    """
run_query(q_check_person_appearance_players)

    appearance_id person_id team_id       game_id appearance_type_id
0         6672779  maedk001     LAN  SFN201610020                 D1
1         5827757  grany001     LAN  SFN201610020                 D2
2         5546081  gonza003     LAN  SFN201610020                 D3
3         6391109  utlec001     LAN  SFN201610020                 D4
4         4701053  turnj001     LAN  SFN201610020                 D5
5         4982729  seagc001     LAN  SFN201610020                 D6
6         4419377  kendh001     LAN  SFN201610020                 D7
7         6109433  pedej001     LAN  SFN201610020                 D8
8         5264405  puigy001     LAN  SFN201610020                 D9
9         4419378  kendh001     LAN  SFN201610020                 O1
10        4701054  turnj001     LAN  SFN201610020                 O2
11        4982730  seagc001     LAN  SFN201610020                 O3
12        5264406  puigy001     LAN  SFN201610020                 O4
13        5546082  gonza003     LAN  SFN201610020                 O5
14        5827758  grany001     LAN  SFN201610020                 O6
15        6109434  pedej001     LAN  SFN201610020                 O7
16        6391110  utlec001     LAN  SFN201610020                 O8
17        6672780  maedk001     LAN  SFN201610020                 O9
18        4137701  moorm003     SFN  SFN201610020                 D1
19        2447645  poseb001     SFN  SFN201610020                 D2
20        2165969  beltb001     SFN  SFN201610020                 D3
21        3574349  panij002     SFN  SFN201610020                 D4
22        3856025  gillc001     SFN  SFN201610020                 D5
23        3010997  crawb001     SFN  SFN201610020                 D6
24        3292673  pagaa001     SFN  SFN201610020                 D7
25        1884293  spand001     SFN  SFN201610020                 D8
26        2729321  pench001     SFN  SFN201610020                 D9
27        1884294  spand001     SFN  SFN201610020                 O1
28        2165970  beltb001     SFN  SFN201610020                 O2
29        2447646  poseb001     SFN  SFN201610020                 O3
30        2729322  pench001     SFN  SFN201610020                 O4
31        3010998  crawb001     SFN  SFN201610020                 O5
32        3292674  pagaa001     SFN  SFN201610020                 O6
33        3574350  panij002     SFN  SFN201610020                 O7
34        3856026  gillc001     SFN  SFN201610020                 O8
35        4137702  moorm003     SFN  SFN201610020                 O9

In [4]:
tables = ['game_log','park_codes','team_codes','person_codes']
for table in tables:
    c_drop_table_template = """
        DROP TABLE {}
        """
    run_command(c_drop_table_template.format(table))
show_tables()

                name   type
0             person  table
1               park  table
2             league  table
3    appearance_type  table
4               team  table
5               game  table
6    team_appearance  table
7  person_appearance  table